@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.aleft {
    text-align: left;
}
.aright {
    text-align: right;
}
.acenter {
    text-align: center;
}
.contact_box {
    border-radius: 30px;
    border: 2px solid #00274C;
    width: 500px;
    margin: auto;
    text-align: center; 
}
.contact_header {
    font-family: 'Roboto';
    font-weight: 400;
    color: #00274C;
}
.contact_info {
    font-family: 'Roboto';
    font-weight: 100;
    color: #00274C;
    font-size: 24px;
    text-align: center;
}
.contact_blurb {
    width: 550px;
    margin: auto;
}
.copyright {
    font-family: 'Roboto';
    font-size: 14px;
    color: #00274C;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #87CEFA;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px;
}
.footer_elem {
    height: 36px;
    width: 36px;
}
.header_element {
    color: #00274C;
    text-decoration: none;
    font-family: 'Roboto';
}
.header_bar {
    background-color:#87CEFA;
    padding: 24px;
    text-align: center;
}
.header_list { 
    border: 3px solid #87CEFA;
    border-radius: 25px;
}
.header_list:hover{
    background-color: #B0E0E6;
}
body, html {
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}
body {
    background-color:#F0F8FF;
}
a{
    text-decoration:none;
}
ul {
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    display: inline;
}
li {
    display: inline;
    text-align: center;
    padding: 6px;
}

/* 
 * Maize: #FFCB05
 * Blue:  #00274C
 * 
 */