@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
.aleft {
    text-align: left;
}
.aright {
    text-align: right;
}
.acenter {
    text-align: center;
}
.blurb_img{
    width: 200px;
    height: 200px;
}
.contact_box {
    border-radius: 30px;
    border: 2px solid #00274C;
    width: 500px;
    margin: auto;
    text-align: center; 
}
.contact_header {
    font-family: 'Roboto';
    font-weight: 400;
    color: #00274C;
}
.contact_info {
    font-family: 'Roboto';
    font-weight: 300;
    color: #00274C;
    font-size: 24px;
    text-align: center;
}
.contact_blurb {
    width: 550px;
    margin: auto;
}
.copyright {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #00274C;
}
.footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #87CEFA;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px;
}
.footer_list:hover {
    background-color: #B0E0E6;
}
.footer_elem {
    height: 36px;
    width: 36px;
    color: black;
}
.footer_list {
    border: 3px solid #87CEFA;
}
.header_element {
    color: #00274C;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
}
.header_bar {
    background-color:#87CEFA;
    padding: 24px;
    text-align: center;
}
.header_list { 
    border: 3px solid #87CEFA;
    border-radius: 25px;
    font-size: xx-large;
}
.header_list:hover{
    background-color: #B0E0E6;
}
.juxtapose{
    display:inline-block;
}
.main_page_body {
    font-family: 'Roboto';
    font-weight: 300;
    color: #00274C;
    font-size: 20px;
    text-align: justify;
    margin: 0;
}
.main_page_box {
    border-radius: 30px;
    padding: 8px;
    max-height: 200px;
    max-width: 550px;
}
.main_page_header {
    font-family: 'Roboto';
    font-weight: 400;
    color: #00274C;
    text-align: right;
    font-size: x-large;
}
.personal_intro_box {
    border-radius: 30px;
    padding: 8px;
    max-width: 425px;
}
.personal_intro_header {
    font-family: 'Roboto';
    font-weight: 400;
    color: #00274C;
    text-align: left;
    font-size: x-large;
}
.personal_intro_body {
    font-family: 'Roboto';
    font-weight: 300;
    color: #00274C;
    font-size: 20px;
    text-align: justify;
    margin: 0;
}
.personal_main_img{
    max-width: 100%;
    max-height: 100%;
}
.personal_img_box{
    height: 400px;
    margin-left: 16px;
    margin-top: 0px;
    padding:8px;
}
.photo_box{
    height: 500px;
    width: 600px;
    margin: auto;
    padding: 8px;
    cursor: pointer;
}
a{
    text-decoration:none;
}
body, html {
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}
body {
    background-color:#F0F8FF;
}
img{
    max-width: 100%;
    max-height: 100%;
}
li {
    display: inline-block;
    padding: 6px;
}
li.about_me{
    height: 300px;
}
ul {
    list-style-type: none;
    margin: 0px ;
    padding: 0px;
}
/* 
 * Maize: #FFCB05
 * Blue:  #00274C
 * 
 */