<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Arjun's Personal Website">
        <meta name="author" content="Arjun Ramanathan">
        <title>Arjun S. Ramanathan</title>
        <script src="https://kit.fontawesome.com/1cc309f2bb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
        <div class="header_bar">
            <ul>
                <li class="header_list">
                    <a href="/" class="header_element">
                        Arjun
                    </a>
                </li>
                <li class="header_list">
                    <a href="/photos/" class="header_element">
                        Photos
                    </a>
                </li>
                <li class="header_list">
                    <a href="/contact/" class="header_element">
                        Contact
                    </a>
                </li>
                <li class="header_list">
                    <a href="/resume/" class="header_element">
                        Resume
                    </a>
                </li>
            </ul>
        </div>
    </head>
    <body> 
        <div class="acenter">
            <h1>
                <b class="contact_header">Contact Information</b>
            </h1>
            <img src="/static/images/professional_far.jpg" style="width: 216px; height: 324px;">
            <p>
                <b class="contact_info">
                    <div class="contact_blurb">
                        If you'd like to contact me I'd love to get in touch sometime.
                        Below is a list of my contact info.
                    </div>
                </b>
            </p>
            <div class="contact_box">
                <p class="contact_info">
                    Phone Number: <b class="contact_header">(408)-355-0826</b>
                </p>
                <hr>
                <p class="contact_info">
                    Email (Primary): <a href="mailto:arjun11@gmail.com" class="contact_header">arjun11@gmail.com</a>
                </p>
                <hr>
                <p class="contact_info">
                    Email (Secondary): <a href="mailto:arjunsr@umich.edu" class="contact_header">arjunsr@umich.edu</a>
                </p>
            </div>
            <br>
        </div>
        <script type="text/javascript" src="/static/funcs.js"></script>
        <footer>
            <div class="footer">
                <ul>
                    <li class="footer_list">
                        <a href='https://github.com/arjunsr1/'>
                            <i class="fab fa-github fa-2x" style="color: black"></i>
                        </a>
                    </li>
                    <li class="footer_list">
                        <a href="https://www.facebook.com/arjunramanathan2/">
                            <i class="fab fa-facebook-square fa-2x" style="color: black"></i>
                        </a>
                    </li>
                    <li class="footer_list">
                        <a href="https://www.linkedin.com/in/arjun-ramanathan-176b83153/">
                            <i class="fab fa-linkedin fa-2x" style="color: black"></i>
                        </a>
                    </li>
                </ul>
                <b class="copyright">© Arjun Ramanathan 2020</b>
            </div>
        </footer>
    </body>
</html>