<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Arjun's Personal Website">
        <meta name="author" content="Arjun Ramanathan">
        <title>Arjun S. Ramanathan</title>
        <script src="https://kit.fontawesome.com/1cc309f2bb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
        <div class="header_bar">
            <ul>
                <li class="header_list">
                    <a href="/" class="header_element">
                        Arjun
                    </a>
                </li>
                <li class="header_list">
                    <a href="/photos/" class="header_element">
                        Photos
                    </a>
                </li>
                <li class="header_list">
                    <a href="/contact/" class="header_element">
                        Contact
                    </a>
                </li>
                <li class="header_list">
                    <a href="/resume/" class="header_element">
                        Resume
                    </a>
                </li>
            </ul>
        </div>
    </head>
    <body> 
        <div class="acenter"> 
            <!-- Intro text & photo -->
            <div class="juxtapose">
                <div class="personal_intro_box">
                    <h1 class="personal_intro_header">
                        Who am I?
                    </h1>
                    <p class="personal_intro_body">
                        I’m <b>Arjun Ramanathan</b>, and I am currently a Software Engineer at Cisco Systems. I was born and raised in the Bay Area, and I’ve been surrounded by technology my entire life. I was drawn to computer science and software engineering mainly by the exciting feeling of being able to come up with unique solutions to common problems. After my first introductory Computer Science course during my time in undergrad, I’ve never looked back. My interest within the realm of Software Engineering is primarily centered on developing and working on services and platforms that people can use on a day to day basis. Keep scrolling to learn a bit more about me!
                    </p>
                </div>
            </div>
            <div class="juxtapose">
                <div class="personal_img_box">
                    <img src="/static/images/stonehenge.JPG">
                </div>
            </div>
            <br><br><br><br>
            <!-- Education Blurb -->
            <div class="juxtapose">
                <img src="/static/logos/mich.png" class="blurb_img">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Education
                    </h1>
                    <p class="main_page_body">
                        I graduated from the <b>University of Michigan in 2020 with a B.S. in Computer Science.</b> It was at Michigan that I got my first exposure to the field of Computer Science, and it quickly became my major of choice. Some relevant coursework I completed is listed here: Operating Systems, Databases, Web Systems, Intro to Artificial Intelligence, Computer Security.
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <!-- Tech Interests Blurb -->
            <div class="juxtapose">
                <img src="/static/logos/python.png" class="blurb_img">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Technology Interests
                    </h1>
                    <p class="main_page_body">
                        When it comes to technical interests, I generally enjoy programming that allows me to think critically about design and implementation details, as well as developing the logic to tackle tough problems. Additionally, I’ve found a lot of joy in full stack development, and my experience within this realm is centered in <b>Python & Flask</b> and <b>React Javascript</b>.
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <!-- Hobbies Blurb -->
            <div class="juxtapose">
                <img src="/static/logos/spike_logo.png" class="blurb_img">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Hobbies
                    </h1>
                    <p class="main_page_body">
                        Some of my hobbies are <b>biking, spike ball, video games, and working out</b>. I love to go on bike rides along road trails to clear my head and feel the nice breeze that flies by. I also love to spend time with friends and soak up nature, whether it’s something as simple as a hike, or a full blown camping trip. I also enjoy cooking when I get the time to do so. 
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <!-- Music & Spotify Blurb -->
            <div class="juxtapose">
                <img src="/static/logos/spotify.png" class="blurb_img">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Music Interests
                    </h1>
                    <p class="main_page_body">
                        One of my biggest interests is <b>music</b>. On any given day I find myself listening to <b>upwards of 8 hours of music</b>, and I love finding new songs, and new genres to explore. I’ve recently started learning to play the guitar, and I have quite a bit of interest in producing music (listen to the first instrumental I produced <a href="/static/links/first_track.mp3" download><b>here</b></a>). I’ve embedded some Spotify playlists I really enjoy below. Happy listening!
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <div class="juxtapose">
                <iframe src="https://open.spotify.com/embed/playlist/3BAuW3gwCzic0sREn6gqd9" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWBHeXOYZf74" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe src="https://open.spotify.com/embed/playlist/2VNo26HaSBXIx59GeT1ga0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <br><br>
        </div>
        <script type="text/javascript" src="/static/funcs.js"></script>
        <footer>
            <div class="footer">
                <ul>
                    <li class="footer_list">
                        <a href='https://github.com/arjunsr1/'>
                            <i class="fab fa-github fa-2x" style="color: black"></i>
                        </a>
                    </li>
                    <li class="footer_list">
                        <a href="https://www.facebook.com/arjunramanathan2/">
                            <i class="fab fa-facebook-square fa-2x" style="color: black"></i>
                        </a>
                    </li>
                    <li class="footer_list">
                        <a href="https://www.linkedin.com/in/arjun-ramanathan-176b83153/">
                            <i class="fab fa-linkedin fa-2x" style="color: black"></i>
                        </a>
                    </li>
                </ul>
                <b class="copyright">© Arjun Ramanathan 2020</b>
            </div>
        </footer>
    </body>
</html>