<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Arjun's Personal Website">
        <meta name="author" content="Arjun Ramanathan">
        <title>Arjun S. Ramanathan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
        <div class="header_bar">
            <ul>
                <li class="header_list" onmouseover="headerHover(this)" onmouseout="headerUnhover(this)">
                    <a href="/" class="header_element">
                        <b>Arjun</b>
                    </a>
                </li>
                <li class="header_list" onmouseover="headerHover(this)" onmouseout="headerUnhover(this)">
                    <a href="/photos/" class="header_element">
                        <b>Photos</b>
                    </a>
                </li>
                <li class="header_list" onmouseover="headerHover(this)" onmouseout="headerUnhover(this)">
                    <a href="/contact/" class="header_element">
                        <b>Contact</b>
                    </a>
                </li>
                <li class="header_list" onmouseover="headerHover(this)" onmouseout="headerUnhover(this)">
                    <a href="/resume/" class="header_element">
                        <b>Resume</b>
                    </a>
                </li>
            </ul>
        </div>
    </head>
    <body> 
        <div class="acenter"> 
            <!-- Intro text & photo -->
            <div class="juxtapose">
                <div class="personal_intro_box">
                    <h1 class="personal_intro_header">
                        <b>Who am I?</b>
                    </h1>
                    <p class="personal_intro_body">
                        I’m <b>Arjun Ramanathan</b>, and I am currently a software Engineer at Cisco Systems. I was born and raised in the Bay Area, and I’ve been surrounded by technology my entire life. I was drawn to computer science and software engineering mainly by the exciting feeling of being able to come up with unique solutions to common problems, thus giving me nearly full autonomy in how I approach a problem. After my first intro computer science course during undergrad, I’ve never looked back. My interest within the realm of software engineering is primarily on developing or working on services and platforms that people can use on a day to day basis. Keep scrolling to learn a bit more about me!
                    </p>
                </div>
            </div>
            <div class="juxtapose">
                <div class="personal_img_box">
                    <img src="/static/images/stonehenge.JPG">
                </div>
            </div>
            <br><br><br><br>
            <!-- Education Blurb -->
            <div class="juxtapose">
                <img src="/static/images/mich.png">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Education
                    </h1>
                    <p class="main_page_body">
                        I graduated from the University of Michigan in 2020 with a B.S. in Computer Science. Only after coming to Michigan did I even really understand what Computer Science was, and it quickly became my major of choice. Some coursework I completed: Operating Systems, Databases, Web Systems, Intro to Artificial Intelligence, Computer Security.
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <!-- Tech Interests Blurb -->
            <div class="juxtapose">
                <img src="/static/images/mich.png">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Technology Interests
                    </h1>
                    <p class="main_page_body">
                        I graduated from the University of Michigan in 2020 with a B.S. in Computer Science. Only after coming to Michigan did I even really understand what Computer Science was, and it quickly became my major of choice. Some coursework I completed: Operating Systems, Databases, Web Systems, Intro to Artificial Intelligence, Computer Security.
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <!-- Hobbies Blurb -->
            <div class="juxtapose">
                <img src="/static/images/mich.png">
            </div>
            <div class="juxtapose">
                <div class="main_page_box">
                    <h1 class="main_page_header">
                        Hobbies
                    </h1>
                    <p class="main_page_body">
                        I graduated from the University of Michigan in 2020 with a B.S. in Computer Science. Only after coming to Michigan did I even really understand what Computer Science was, and it quickly became my major of choice. Some coursework I completed: Operating Systems, Databases, Web Systems, Intro to Artificial Intelligence, Computer Security.
                    </p>
                </div>
            </div>
            <br><br><br><br>

        </div>
        <script type="text/javascript" src="/static/funcs.js"></script>
    </body>
    <footer>
        <div class="footer">
            <ul>
                <li>
                    <a href='https://github.com/arjunsr1/'>
                        <img class="footer_elem" src="/static/images/GitHub-Mark-32px.png"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/arjunramanathan2/">
                        <img class="footer_elem" src="/static/images/fb_black_transparent.png"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/arjun-ramanathan-176b83153/">
                        <img class="footer_elem" src="/static/images/linkedin-sign.png"/>
                    </a>
                </li>
            </ul>
            <b class="copyright">© Arjun Ramanathan 2020</b>
        </div>
    </footer>
</html>