<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Arjun's Personal Website">
        <meta name="author" content="Arjun Ramanathan">
        <title>Arjun S. Ramanathan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
        <div class="header_bar">
            <div class='acenter'>
                <ul>
                    <li href="/">
                        <a href="/" class="header_element">
                            <b>Me</b>
                        </a>
                    </li>
                    <li href="/photos/">
                        <a href="/photos/" class="header_element">
                            <b>Photos</b>
                        </a>
                    </li>
                    <li>
                        <a href="/contact/" class="header_element">
                            <b>Contact</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </head>
    <body> 
        <div>
        </div>
        <script type="text/javascript">
        </script>
    </body>
</html>